
body p {
	font-family: 'Consolas', sans-serif;
}


h4 {
	font-family: 'Consolas', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

h2 {
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
}

body a {
	text-decoration: none;
	color: #3d3d3d;
}

body a:hover {
	text-decoration: none;
	color: #f2b529;
	border-bottom: 4px solid #f2b529;
}


.highlight-title {
	font-size: 35px;
	font-family: Zilla Slab, serif;
	color: #f2b529;

}

.logo-pic img {
	width: 120px !important;
	height: 120px !important;
	margin-left: 20px;

}


.navbar-top {
	text-decoration: none;
	margin-top: 2em;
	margin-right: 1em;
	font-size: 16px;
	font-family: 'Consolas', sans-serif;

}

.navbar-top li {
	display: inline;
	padding: 0.5em;
	color: #000;
}

.page-content-wrapper {
	background-color: #fff;
	margin: 2em;
}


.banner-top img {
  border-radius: 50%;
  width: 250px;
  height: 250px;

}

.body-text {
		max-width: 800px;
}
.experience-list li {
	text-decoration: none;
	font-family: 'Consolas', sans-serif;
	font-weight: bold;
}


.social-media-icons {
	font-size: 40px;
	color: gray;
	margin-top: 2.4em;
}


.social-media-icons li {
	display: inline;
	text-decoration: none;

}

.social-media-icons a:hover {
	border: none;
}

.social-media-icons a {
		color: #3d3d3d;

}

.social-media-icons ul {
	padding-left: 0;
}


.sub-title {
	background-color: #f2b529;
	color: #FFF;
	font-size: 16px;
}


.form-control:focus {
	border-color: #8c9af2;
}

.required {
	font-weight: bold;
	font-size: 2.0em;
	color: #354193;
}

.btn-primary {
	background-color: #354193 !important;

}

.adress-block {
	background-color: #f2f1dc;
	padding: 1.2em;
    border-radius: 8px;
    max-width: 800px;
    background: repeating-linear-gradient(
	  45deg,
	  #626263,
	  #FFF 2px,
	  #FFF 2px,
	  #FFF 6px
	);
}
}