
body p {
	font-family: 'Consolas', sans-serif;
}


h4 {
	font-family: 'Consolas', sans-serif;
	font-weight: bold;
}

body a {
	text-decoration: none;
	color: #000;
}

body a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #F2B529;
	border-bottom: 4px solid #F2B529;
}


.first-word {
	font-size: 35px;
	font-family: Zilla Slab, serif;
	background-color: #F2B529;
	color: #FFF;

}


.logo {
	font-size: 16px;
	color: #ec474b;
	font-weight: bold;
	margin-left: 1em;
	padding: 1em;
	font-weight: lighter;
	text-align: center;
	
}

.logo h2 {
	font-family: 'Zilla Slab', serif;
	color: #282828;
	font-size: 45px;
	font-weight: bold;
}

.logo-wrapper {
	margin-left: 1em;
}

.navbar-top {
	text-decoration: none;
	margin-top: 2em;
	margin-right: 1em;
	font-size: 16px;
	font-family: 'Consolas', sans-serif;

}

.navbar-top li {
	display: inline;
	padding: 0.5em;
	color: #000;
}

.page-content-wrapper {
	margin-right: 2em;
	background-color: #fff;
}


.banner-top img {
  border-radius: 50%;
  width: 250px;
  height: 250px;

}

.banner-top {
	margin-left: 4em;
}

.body-text {
	padding: 1em;
}

.experience-list li {
	text-decoration: none;
	font-family: 'Consolas', sans-serif;
}

.experience-list ul {
	text-decoration: none;
	list-style: none;
	padding: 0;
}

.social-media-icons {
	font-size: 40px;
	color: gray;
	margin-top: 2.4em;
}


.social-media-icons li {
	display: inline;
	text-decoration: none;

}

.social-media-icons a:hover {
	border: none;
}

.social-media-icons a {
		color: #F2B529;

}

.social-media-icons ul {
	padding-left: 0;
}


.sub-title {
	background-color: #F2B529;
	color: #FFF;
	font-size: 16px;
}

