
* {
	font-family: 'Anonymous Pro' ;
}

body {
	background-color: #FFF;
	height: 100%;
	font-size: 16px;
	overflow: hidden;
	padding: 20px;
}

body p {
	font-family: 'News Cycle', sans-serif, 'Tahoma', sans-serif;
	font-size: 1.2em;
}


h4 {
	font-family: 'Consolas', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

h2 {
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
}

body a {
	text-decoration: none;
	color: #999;
}

body a:hover {
	text-decoration: none;
	color: #f68060;
}

.contact-image img {
	width: 100px !important;
	margin-bottom: 50px;
}


.highlight-title {
	font-size: 25px;
	color: #f68060;
}


.logo-pic img {
	width: 100px !important;

}

.navbar-top {
	text-decoration: none;
	font-size: 16px;
	font-weight: lighter;
	float:right;
	margin-top: 50px;
	color: #999;
}

.navbar-top li {
	display: inline;
	padding: 0.5em;
	color: #000;

}

.btn-custom {
	background-color: #f68060 !important;
	color: #474646;
}

.btn-custom:hover {
	 transition: box-shadow .3s;
	  box-shadow: 0 0 15px rgba(252, 169, 141); 
	  color: #FFF;
}

.btn-custom:active {
	border-top: 10px;
	box-shadow: 0 9px #d8a211;
	cursor: pointer;
	transform: translateY(4px);
}

.page-content-wrapper {
	background-color: #fff;
	margin-left: 5%;
}


.banner-top img {
  border-radius: 50%;
  width: 250px;
  height: 250px;

}

.body-text {
	max-width: 800px;
}

.container-wrapper {
	margin-top: 80px;
}


.social-media-icons {
	font-size: 40px;
	margin-top: 2.4em;
}


.social-media-icons li {
	display: inline;
	text-decoration: none;

}

.social-media-icons a:hover {
	border: none;
	color: #f68060;
}

.social-media-icons a {
	color: #999;

}

.social-media-icons ul {
	padding-left: 0;
}


.sub-title {
	background-color: #f2b529;
	color: #FFF;
	font-size: 16px;
}


.form-control:focus {
	border-color: #8c9af2;
}

.btn-primary {
	background-color: #354193 !important;
}

.adress-block {
	background-color: #f2f1dc;
	padding: 1.2em;
    border-radius: 8px;
    max-width: 800px;
    background: repeating-linear-gradient(
	  45deg,
	  #cccccc,
	  #FFF 2px,
	  #FFF 2px,
	  #FFF 6px
	);
}

 a:active { 
 	color: #F2B529;
 	font-weight: bold;
 }