html {
	min-height:100%;
    position:relative;
}

body {
	background-color: rgb(238, 238, 238);
	height: 100%;
}

body p {
	font-family: 'Consolas', sans-serif;
}

body a {
	text-decoration: none;
	color: #000;
}

body a:hover {
	text-decoration: none;
	color: #F2B529;
	border-bottom: 4px solid #F2B529;

}

#content-block {
	background-color: #FFF;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 30px;
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;

}

.logo-pic img {
	width: 120px !important;
	height: 120px !important;
	margin-left: 20px;
	margin-top: 20px;

}


.navbar-top {
	text-decoration: none;
	font-size: 16px;
	font-weight: lighter;
	font-family: 'Consolas', sans-serif;
	margin-top: 2em;

}

.navbar-top li {
	display: inline;
	padding: 0.5em;
	color: #000;

}

.thumbnail {
	width: 100%;
	overflow: hidden;
}

.container-content img {
	 -webkit-transition: all 0.5s ease;
	 height: 250px;
	 width: 300px;

}

.container-content img:hover {
	transform: scale(1.4);
}

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}

.no-border {
  border-top: 0;
}

.content-center {
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 2em;
}

 a:active { 
 	color: #F2B529;
 	font-weight: bold;
 }