
body {
}

body p {
	font-family: 'Consolas', sans-serif;
}

body a {
	text-decoration: none;
	color: #F2B529;
}

body a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #ec474b;
	border-bottom: 4px solid #F2B529;

}

.logo {
	font-size: 16px;
	color: #ec474b;
	font-weight: bold;
	margin-left: 1em;
	padding: 1em;
	font-weight: lighter;
	text-align: center;
	
}

.logo h2 {
	font-family: 'Zilla Slab', serif;
	color: #282828;
	font-size: 45px;
	font-weight: bold;
}


.navbar-top {
	text-decoration: none;
	font-size: 16px;
	font-weight: lighter;
	font-family: 'Consolas', sans-serif;
	margin-top: 2em;

}

.navbar-top li {
	display: inline;
	padding: 0.5em;
	color: #000;

}

.thumbnail {
	width: 100%;
	overflow: hidden;
}

.container-content img {
	 -webkit-transition: all 0.5s ease;
	 height: 250px;
	 width: 300px;

}

img:hover {
	transform: scale(1.4);
}

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}

.no-border {
  border-top: 0;
}

.content-center {
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 2em;
}

.sub-title {
	background-color: #F2B529;
	color: #FFF;
	font-size: 16px;
}
